:root {
    --primary-color: #197278;
    --secondary-color: #4B9C82;
    --accent-color: #443627;
    --text-color: black;
    --heading-font: "Libre Baskerville", serif;
    --text-font: "Ubuntu", sans-serif;
    --padding: 1rem;
}

h1 {
    background-color:rgb(25 114 120 / 70%);
    color: var(--text-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    padding: 3rem;
    position: absolute;
    width: 68%;
    text-align: center;
}

h2 {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: var(--padding);
}

h3 {
    background-color:white;
    color: var(--text-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    position: relative;
    width: 91.7%;
    margin: 0;
    text-align: center;
}

h4 {
    background-color:var(--secondary-color);
    color: var(--text-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding: 3rem;
    position: relative;
    width: 91.7%;
    margin: 0;
    text-align: center;
}

.map {
    display: flex;
    justify-content: center;
}

#business-name {
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-style: normal;
}

#phone {
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-style: normal;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

#email {
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.5rem;
}

#address {
    text-align: center;
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-style: normal;
}

p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-weight: 400;
    font-style: normal;
}

footer nav {
    display: grid;
    grid-template-columns: 65px 65px 65px 65px;
    justify-content: end;
}

footer nav a {
    display: flex;
    text-decoration: none;
}

#facebook {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    grid-column: 1/1;
}

#x {
    display: flex;
    grid-column: 2/2;
}

#instagram {
    display: flex;
    justify-content: end;
    grid-column: 3/3;
}


footer p {
    position: absolute;
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--primary-color);
    max-width: 86%;
}

body {
    background-color: white;
    margin-left: 200px;
}

header {
    background-color: #197278;
    max-width: 86%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article p {
    background-color:rgb(25 114 120 / 70%);
    padding: 7rem;
    position: absolute;
    top: 525px;
    margin-left: 104px;
    width: 21%;
    text-align: left;
    word-wrap: break-word;
}

.hero article img {
    background-color:rgb(25 114 120 / 70%);
    padding: 1.9rem;
    position: absolute;
    top: 540px;
    right: 307px;
    float: right;
    display: block;
    width: 20%;
    height: auto;
}

main {
    max-width: 86%;
}

.hero div {
    position: relative;
}

header {
    display: grid;
    grid-template-columns: 400px 100px 100px 100px 100px;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    font-size: 20px;
}

#home {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#about {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#trips {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#contact {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-color: black;
    border-width: medium;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#section2 {
    display: grid;
    grid-template-columns: 225px 225px 226px 226px 226px;
    grid-template-rows: auto auto;
    flex-direction: row;
}

#section2 h2 {
    grid-column: 1/6;
}

#image1 {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-column: 1/1;
    object-fit: contain;
}

#rapids{
    display: grid;
    justify-content: center;
    align-items: start;
    grid-column: 1/1;
    grid-row: 3/3;
}

#image2 {
    display: flex;
    grid-column: 2/2;
    justify-content: center;
    align-items: start;
    object-fit: contain;
}

#bigrapids {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-row: 3/3;
}

#image3 {
    display: flex;
    grid-column: 3/3;
    grid-row: 2/2;
    justify-content: center;
    align-items: start;
    object-fit: contain;
}

#waterfall {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-row: 3/3;
}

#image4 {
    display: flex;
    grid-column: 4/4;
    justify-content: center;
    align-items: start;
    object-fit: contain;
}

#ram{
    display: flex;
    justify-content: center;
    align-items: start;
    grid-row: 3/3;
}

#image5 {
    display: flex;
    grid-column: 5/5;
    justify-content: center;
    align-items: start;
    object-fit: contain;
}

#lizard {
    display: flex;
    justify-content: center;
    align-items: start;
    grid-row: 3/3;
}

#section1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4B9C82;
}

#words1{
    display: flex;
    justify-content: center;
    grid-column: 1/1;
}

#section1 h2 {
    display: flex;
    justify-content: center;
    grid-column: 2/2;
}

#words2 {
    display: flex;
    justify-content: center;
    grid-column: 3/3;
}

figcaption {
    display: flex;
    grid-row: 3/3;
    position: absolute;
    bottom: 0;
    text-align: center;
}

figure {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    padding: 40px;
}


form {
    width: 500px;
    margin-left: 300px;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label {
    text-align: left;
    padding-left: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--secondary-color);
}


.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.wireframe {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#section3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h6 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--text-color);
    font-size: 30px;
    background-color: #4B9C82;
    padding: 3rem;
    margin: 0;
}


